node_modules/
dist/
dist_electron/
backup_V1.0.0/
*.log
.DS_Store
Thumbs.db
_tmp*
_test*
_debug*
.workbuddy/
dist_electron_v3/
dist_electron_v3/
tools/nsis/
tools/nsis/
PROJECT_HANDOFF.md
docs/
*.env
fuck_for_music_github.env
